@import url("./src/styles/normalize.css");
@import url("./src/styles/navbar.css");
@import url("./src/styles/navbarFixed.css");
@import url("./src/styles/header.css");
@import url("./src/styles/monitoring.css");
@import url("./src/styles/sensor.css");
@import url("./src/styles/howitworks.css");
@import url("./src/styles/technology.css");
@import url("./src/styles/maintenance.css");
@import url("./src/styles/simulate.css");
@import url("./src/styles/request.css");
@import url("./src/styles/contact.css");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1300px;
}

@media screen and (max-width: 1420px) {
  .container {
    width: 1100px;
  }
}

/* Mobile */
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

.carousel-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.carousel-menu-item {
  background-color: #fff;
  padding: 6px;
  border-radius: 50%;
  margin: 0 10px;
  border: 2px solid #fff;
  transition: .1s all linear;
}

.carousel-menu-item:hover {
  cursor: pointer;
  background-color: #9bcdff;
}

.carousel-menu-item-active {
  background-color: #3396FF;
}

.carousel-menu-item-active:hover {
  cursor: pointer;
  background-color: #3396FF;
}

.title {
  margin: 0;
  font-size: 55px;
  color: #595979;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.title-light {
  margin: 0;
  font-size: 55px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  z-index: 1;

  transition: 1.5s ease-out opacity, 1s ease-out margin-right;
  margin-right: 0px;
  opacity: 1;
}

.description {
  font-size: 22px;
  color: #595979;
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  text-align: center;
  margin: 40px 0 80px;
}

.description-light {
  font-size: 22px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  text-align: center;
  margin: 40px 0 80px;
}

::placeholder {
  color: #E0E0E4;
}

footer {
  width: 100%;
  margin: 40px 0;
  color: #3396FF;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.swiper-container {
  border-radius: 10px !important;
  width: 100% !important;
  padding: 80px 0 !important;
  margin: 20px 0;
  overflow: hidden;
}

.swiper-container-2 {
  width: 100% !important;
  padding: 80px 0 !important;
  margin: 20px 0;
}

.swiper-container-3 {
  width: 100% !important;
  padding: 80px 0 !important;
  margin: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.swiper-slide-2 {
  width: 100%;
  height: 100% !important;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  border: 2px solid #fff;
  opacity: 1 !important;
  transition: .4s all ease;
  margin: 0 10px !important;
  background-color: #3396FF !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

/* Mobile */
@media screen and (max-width: 992px) {
  * {
    transition: none;
  }

  .title, .title-light {
    font-size: 36px;
    max-width: 100% !important;
  }

  .description, .description-light {
    font-size: 20px;
    max-width: 100% !important;
    margin: 40px 0;
  }
}
