.section-contact {
  width: 100%;
  background-color: #3396ff;
  z-index: 1;
  position: relative;
}

.section-contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
  padding-top: 120px;
  opacity: 1;
  transition: .1s all linear;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.contact-input-text-input {
  box-shadow: 3px 3px 25px #3396FF29;
  border: 2px solid #3396FF;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border-radius: 18px;
  padding: 20px;
  text-align: left;
  border: none;
  background-color: #fff;
  flex: 1 1 40%;
  margin: 30px 30px 15px;
}

.contact-input-textarea {
  box-shadow: 3px 3px 25px #3396FF29;
  border: 2px solid #3396FF;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border-radius: 18px;
  padding: 20px;
  text-align: left;
  border: none;
  background-color: #fff;
  flex: 1 1 100%;
  margin: 15px 30px 30px;
}

.contact-input-text-input:focus, .contact-input-textarea:focus {
  outline: none;
}

.contact-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 105px;
}

.contact-info {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.contact-info-p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.section-contact-content-hide {
  opacity: .1;
}

.contact-bird-background {
  position: absolute;
}

.contact-bird-background img {
  user-select: none;
  height: auto;
  width: 50%;
}

.contact-bird-1 {
  bottom: 0;
  left: 150px;
}

.contact-bird-2 {
  top: 0;
  right: -350px;
}

.contact-bird-3 {
  top: 200px;
  left: 300px;
}

/* Mobile */
@media screen and (max-width: 992px) {
  .section-contact-content {
    padding: 40px 0 !important;
  }

  .contact-form {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
  }

  .contact-input-text-input {
    margin: 10px 0 !important;
    width: 100%;
  }

  .contact-input-textarea {
    margin: 10px 0 0 !important;
    width: 100%;
  }

  .contact-info-wrapper {
    flex-direction: column;
    margin-top: 60px;
  }

  .contact-info {
    max-width: 100%;
  }

  .contact-info-p {
    font-size: 16px;
    text-align: center;
  }

  .contact-bird-background img {
    width: 35%;
  }

  .contact-bird-1 {
    bottom: 0;
    left: -90px;
  }
  
  .contact-bird-2 {
    display: none;
  }
  
  .contact-bird-3 {
    top: 100px;
    left: 300px;
  }
}