.section-how-it-works {
  padding: 140px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.how-it-works-image {
  width: 90%;
  margin-bottom: 80px;
  margin-top: 90px;
  opacity: 1;
  transition: 2s ease opacity;
  position: relative;
}

.how-it-works-content-image-hide {
  opacity: 0;
}