.section-monitoring {
  width: 100%;
  background-color: #3396ff;
  z-index: 1;
  overflow-x: hidden;
}

.section-monitoring-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
  padding-top: 80px;
  right: 0px;

  transition: 1.5s ease-out opacity, 1s ease-out right;
}

.monitoring-content-hide {
  position: relative;
  margin-right: -300px !important;
  opacity: 0 !important;
}

.monitoring-cards-wrapper {
  display: flex;
  margin: 80px 0;
  justify-content: space-between;
  width: 80%;

  transition: 1.5s ease-out opacity, 1s ease-out margin-right;
  margin-right: 0px;
  opacity: 1;
}

.monitoring-card {
  flex: 1 1 30%;
  background-color: #fff;
  max-width: 290px;
  padding: 30px 15px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 5px;
  justify-content: center;
  height: 290px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 3px 3px 10px #00000029;
  z-index: 1;
}

.monitoring-card-image {
  width: 100px;
  height: 120px;
}

.monitoring-card-title {
  color: #403F57;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  margin: 20px 0 15px;
}

.monitoring-card-description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #403F57;
  text-align: center;
}

.monitoring-bird-background {
  position: absolute;
}

.monitoring-bird-background img {
  user-select: none;
  height: auto;
  width: 100%;
}

.monitoring-bird-1 {
  bottom: 0;
  width: 520px;
  right: -200px;
}

.monitoring-bird-2 {
  top: 0;
  width: 300px;
  left: -200px;
}

.monitoring-bird-3 {
  width: 40px;
  bottom: 30%;
  left: -10px;
}

/* Mobile */
@media screen and (max-width: 992px) {
  .monitoring-cards-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }

  .monitoring-card {
    width: 100%;
    margin: 0 0 20px;
  }

  .monitoring-bird-background img {
    width: 60%;
  }

  .section-monitoring {
    padding: 40px 0;
  }

  .monitoring-bird-1 {
    display: none;
  }
  
  .monitoring-bird-2 {
    top: -70px;
    width: 300px;
    left: -100px;
  }
  
  .monitoring-bird-3 {
    left: 0;
  }
}