.navbar-wrapper-fixed {
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 3px 3px 25px #00000029;
  transition: 0.2s all linear;
}

.navbar-wrapper-fixed-on {
  top: 0 !important;
}

.navbar-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header-logo-fixed img {
  height: 70px;
}

.navbar-menu-fixed {
  display: flex;
  padding: 0;
}

.navbar-menu-fixed li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.navbar-menu-fixed li a {
  color: #403F57;
  font-size:  16px;
  letter-spacing: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.navbar-menu li:hover {
  cursor: pointer;
  
}

.navbar-menu li:hover a {
  color: #000;
  transition: .2s all linear;
}

.navbar-button-fixed {
  background-color: #68F7CF;
  border: none;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 13px 28px;
  border-radius: 10px;
  color: #595979;
}

.navbar-button-fixed:hover {
  cursor: pointer;
  background-color: #5bd8b5;

  transition: .2s all linear;
}