.navbar-wrapper {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.navbar-wrapper-detached {
  box-shadow: 3px 3px 25px #00000029;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;

  transition: 0.2s all linear;
}

.navbar-detached {
  height: 80px;
}

.header-logo img {
  height: 80px;
}

.navbar-menu {
  display: flex;
  padding: 0;
}

.navbar-menu li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.navbar-menu li a {
  color: #403F57;
  font-size:  18px;
  letter-spacing: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.navbar-menu li:hover {
  cursor: pointer;
  
}

.navbar-menu li:hover a {
  color: #000;
  transition: .2s all linear;
}

.navbar-button {
  background-color: #68F7CF;
  border: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 7px;
  color: #595979;

}

.navbar-button:hover {
  cursor: pointer;
  background-color: #5bd8b5;

  transition: .2s all linear;
}



/* Style the navigation menu */
.mobile-navbar {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: 5;
  top: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, .07);
  background-color: #fff;
}

.mobile-navbar-brand {
  color: #403F57;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#mobile-navbar-menu {
  position: fixed;
  z-index: 3;
  display: none;
  top: 0;
  width: 100vw;
  height: 100%;
}

.mobile-navbar-menu-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  transition: 1s ease opacity;
}

#mobile-navbar-menu-items {
  background-color: #fff;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 10px;
}

#mobile-navbar-menu-items a {
  padding: 10px;
  background-color: #fff;
  color: #403F57;
  margin: 5px 0;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* Style navigation menu links */
.mobile-navbar a {
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.mobile-navbar a.mobile-navbar-icon {
  background: #fff;
  color: #595979;
  display: block;
  font-size: 25px;
}




/* Mobile */
@media screen and (max-width: 992px) {
  .navbar-wrapper {
    display: none;
  }
}

/* Mobile */
@media screen and (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}