.section-simulate {
  padding: 150px 0 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.simulate-calculator-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.simulate-calculator-sign {
  font-size: 105px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #403F57;
  opacity: .16;
  margin: 0 50px;
  align-self: flex-end;
  user-select: none;
}

.simulate-calculator-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simulate-calculator-input-label {
  font-size: 25px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #403F57;
}

.simulate-calculator-input-text {
  box-shadow: 3px 3px 25px #00000029;
  font-size: 30px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
  padding: 27.5px;
  text-align: center;
  max-width: 200px;
  border: none;
  background-color: #fff;
  color: #403F57;
}

.simulate-calculator-input-text:focus {
  outline: none;
}


.simulate-calculator-input-radio {
  box-shadow: 3px 3px 25px #00000029;
  font-size: 30px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
  padding: 27.5px;
  text-align: center;
  max-width: 200px;
  margin: 0 20px;
  color: #403F57;
  transition: .3s ease background-color;
}

.simulate-calculator-input-radio:hover {
  cursor: pointer;
}

.simulate-calculator-input-radio-selected {
  background-color: #3396FF;
  color: #fff;
}

.simulate-options-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 0px;
}

.simulate-calculator-wrapper-hide {
  margin-right: -300px !important;
  opacity: .1 !important;
}

/* Mobile */
@media screen and (max-width: 992px) { 
  .section-simulate {
    padding: 100px 0 !important;
  }

  .simulate-calculator-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .simulate-calculator-sign {
    align-self: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    font-size: 90px;
  }

  .simulate-calculator-input {
    max-width: 100%;
  }

  .simulate-calculator-input-text {
    max-width: 90%;
    padding: 20px;
    font-size: 26px;
  }

  .simulate-calculator-input-radio {
    padding: 20px;
    font-size: 26px;
  }

  .simulate-calculator-input-label {
    margin: 0 0 25px;
    font-size: 20px;
  }

  .simulate-options-wrapper {
    width: 100%;
  }
}