.section-technology {
  width: 100%;
  background-color: #3396ff;
  z-index: 1;
  padding-top: 60px;
}

.technology-cards-wrapper {
  margin-bottom: 40px;
  position: relative;
  left: 0px;
  transition: 1.5s ease-out left, 2s ease-out opacity;
}

.technology-cards-wrapper-hide {
  opacity: 0;
  left: -200px;
}

.section-technology-title {
  max-width: 800px;
  opacity: 1;
  transition: 1s ease-out opacity;
}

.section-technology-title-hide {
  opacity: 0;
}


.technology-cards-wrapper {
  position: relative;
  width: 80%;
  left: 0px;
  opacity: 1;
  transition: 1.5s ease-out opacity, 1s ease-out left;
}

.technology-cards-wrapper-hide {
  left: -200px;
  opacity: .1;
}