body{
    background-color: #fff;
    overflow-x: hidden;
}

/*
==================================
NAVBAR
==================================
*/

.navbar{
    color: #fff;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-dark .navbar-brand{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.nav-item{
    margin-right: 10px;
}
.nav-item a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.active > all{
    color: #000;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    border: 2px solid rgba(0,0,0,0);
    transition: .1s all linear;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fce38a;
    border-bottom: 2px solid;
}
/*
==================================
HEADER
==================================
*/


header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../img/eaglebg.png) center no-repeat;
    background-size: cover;
}
.x-header-gradient{
    width: 100%;
    height: 100%;
    background: rgba(243,129,129,0.9);
    background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.9)), color-stop(100%, rgba(252,227,138,0.9)));
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -o-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0 );
}
.x-header-content{
    height: 100%;
    position: relative;
    padding: 0;
}
.x-inner-container{
    position: absolute;
    width: 100%;
    top: 20%;
}
.x-header-content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 40px 0 30px;
    text-align: center;
    font-size: 90px;
    line-height: .9;
    color: #fff;
    
}
.x-header-content h2{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 44px;
    text-align: center;
    top: 200px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 40px auto 35px;
}
.x-header-content button{
    background-color: rgba(255,255,255,0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: #fff;
    font-size: 12px;
    border: #fff 2px solid;
    padding: 10px 25px;
}
.x-header-content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.x-header-content ul li{
    width: 25%;
    margin: 10px 10px 0;
}
.x-header-content ul li a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}
.x-header-content ul li a:hover{
    text-decoration: none;
}
.x-header-content ul li a span{
    font-size: 18px;
    margin: 0 5px;
}
.x-bar{
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #fff;
}

.x-header-content button:hover{
    background-color: rgba(255,255,255,.3);
    transition: .2s background-color linear;
}

/*
==================================
SECTION
==================================
*/
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    text-align: center;
    font-size: 24px;
}
.kaushan{
    padding: 90px 0 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 19px;
    font-weight: 100;
}

section{
    width: 100%;
}

p{
    font-size: 14px;
    text-align: center;
    color: #999999;
}

.text-description{
    padding: 0 110px;
}

hr{
    margin-top: 35px;
    margin-bottom: 50px;
    border-top: 2.5px solid #f38181;
    width: 60px;
}

/*
==================================
SECTION about
==================================
*/

.row{margin: 80px 15px;}

.item-gradient div{
    width:32px;
    margin: 0 auto 6px;
}
.item-gradient h5{
    font-weight: 700;
    font-size: 15px;
}
.item-gradient div img{
    width: 100%;
    height: auto;
}

.col{
    position: relative;
    padding: 0;
    margin: 10px 1.5%;

}

.item-bg{
    
    background-color: #95e1d3;
}

.item-pic{
    position: relative;
    top: 0px;
    left: 0px;
    transition: .15s all linear;
}

.pic-one{
    background: url(../img/pic1.png) center no-repeat;
    background-size: cover;
}
.pic-two{
    background: url(../img/pic2.png) center no-repeat;
    background-size: cover;
}
.pic-three{
    background: url(../img/pic3.png) center no-repeat;
    background-size: cover;
}

.item-gradient{
    width: 100%;
    position: relative;
    height: 100%;
    padding: 90px 0;
    opacity: 0;
    top: 0px;
    left: 0px;
    background: rgba(243,129,129,0.9);
    background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.9)), color-stop(100%, rgba(252,227,138,0.9)));
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -o-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0 );
transition: .15s all linear;
}

.item-pic:hover .item-gradient{
    opacity: 1;
}

.item-bg:hover .item-pic .item-gradient{
    opacity: 1;
}

.item-bg:hover .item-pic{
    top: -8px;
    left: -8px;
}

.item-pic:hover{
    top: -8px;
    left: -8px;
}

/*
==================================
SECTION jobs
==================================
*/

.jobs{
    background-color: #95e1d3;
}

.jobs .container, .logos .container{
    display: flex;
    flex-direction: row;
}

.jobs-item{
    width: 20%;
    padding: 60px 20px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 54px;
    color: #fff;
    text-align: center;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.service-list{
    width: 100%;
    display: flex;   
    flex-direction: column;
    margin-bottom: 50px;
}
.services-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.service-list hr{
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.sevice-item{
    padding: 20px;
    width: 33%;
    display: flex;
    flex-direction: row;
}

.sevice-item span{
    width: 32px;
    height: 32px;
    margin: 10px 20px 0 0;
}
/*
==================================
SECTION design
==================================
*/

.design{
    background: url(../img/design-bg.png) center no-repeat;
    background-size: cover;
}

.design div{
    width: 350px;
    margin: 0 auto;
}

.design div img{
    width: 100%;
    height: auto;
}

.design .container{
    position: relative;
}

.design .container img{
    position: absolute;
    width: 202px;
    height: auto;
    top: -286px;
    right: -100px;
    z-index: 2;
}

/*
==================================
SECTION works
==================================
*/

.works{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.work-picture{
    width: 50%;
    padding: 0 50px 0 30px;
    height: 330px;
    
}
.work-picture img{
    height: 100%;
}
.work-list{
    height: 330px;
    margin-left: 20px;
    width: 50%;
}
.card{
    border-radius: 0;
    margin: 0 0 10px 0;
}
.card-header{
    background-color: #fff;
    border-radius: 0;
}

.card-body{
    overflow-y: auto;
    height: 93px;
    color: #999999;
    font-size: 14px;
}
.btn-link{
    width: 100%;
    color: #000;
    text-align: left;
    font-weight: 500;
}
.btn-link:visited{
    text-decoration: none;
}
.btn-link:hover{
    color: #000;
    text-decoration: underline;
}

button img{
    margin-right: 20px;
}
/*
==================================
SECTION comments
==================================
*/


.comments{
    background-color: #f8f8f8;
    padding: 50px 0;
}

.comments-container{
    display: flex;
    flex-direction: row;
    padding: 0 130px;
    height: 143.5px;
}

.comments-container img{
    width: 115px;
    height: 115px;
    padding: 25px;
    border: 2px solid #95e1d3;
}

.comments-content{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.comments-content p{
    font-size: 18px;
}

.comments-content-row{
    display: flex;
    flex-direction: row;
}

.comments-content-row hr{
    margin: 9.75px 10px 0 0;
    border: 0;
    height: 3px;
    width: 40px;
    background-color: #f38181;
}

.comments-content-row h3{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23cfcfcf' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23cfcfcf' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}



/*
==================================
SECTION team
==================================
*/


.item-gradient ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin: 72.5px auto;
    padding-inline-start: 0;
    item-align: center;
}

.item-gradient ul li{
    background-color: #FCE38A;
    margin-left: 1px;
    transition: background-color .1s linear;

}

.item-gradient ul li:hover{
    background-color: #F38181;
    margin-left: 0px;
    padding-left: 1px;
}

.item-gradient ul li:hover a img{
    filter: contrast(0%);
    filter: brightness(200%);
}


.item-gradient ul li a img{
    padding: 12px;
    transition: all .1s linear;
}

.pic-five{
    background: url(../img/pic-5.png) center no-repeat;
    background-size: cover;
}

.item-gradient span{
    display: block;
    width: 204px;
    margin: 0 auto;
}

.team .container .row .col h5{
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.team .container .row .col h6{
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #999;
}


/*
==================================
SECTION logos
==================================
*/



.logos{
    background-color: #f8f8f8;
    padding: 50px 0;
}

.logos .jobs-item{
    width: 20%;
    padding: 0;
}

.jobs-item div{
    width: 75px;
    margin: 0 auto;
}

.jobs-item div img{
    width: 100%;
}




@media only screen and (max-width: 992px) {
    .comments-content{
        padding: 0 10px;
    }
    .comments-container{
        padding: 0;
    }
    .comments-content-row h3{
        font-size: 4vw;
    }
    .comments-content p{
        font-size: 3vw;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 5%;
    }
    .x-header-content h1{
        font-size: 6.5vh;
    }
    
    .x-header-content h2{
        font-size: 4.5vh;
    }
    .pictures{
        margin: 50px 0;
    }
    .pic-item{
        margin: 0 5px;
    }
    .text-description{
        padding: 0 10px;
    }
    .kaushan{
        padding: 60px 0 15px;
    }
    .jobs-item{
        padding: 30px 0;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: .5em;
    }
    .design .container img{
        width: 150px;
        top: -200px;
        right: 0;
    }
    .services-row{
        flex-direction: column;
    }
    .sevice-item{
        padding: 10px 0 ;
        width: 100%;
    }
    .service-list hr{
        display: none;
    }
    .works{
        flex-direction: column;
    }
    .work-picture{
        padding: 0;
        height: auto;
        width: 100%;
    }
    .work-picture img{
        width: 100%;
        height: auto;
    }
    .work-list{
        margin: 20px 0 0;
        width: 100%;
    }
    .design div img{
        width: 60%;
        margin-left: 40px;
    }
    .row{
        flex-direction: column;
    }
    .jobs-item div{
    width: 100%;
    padding: 0 5px;
    }
}

@media only screen and (min-height: 1080px) {
    header{
        height: 1080px;
    }
}
