body{
    background-color: #fff;
    overflow-x: hidden;
}

section{
    position: relative;
}

/*
==================================
NAVBAR
==================================
*/

.navbar{
    color: #fff;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-dark .navbar-brand{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.nav-item{
    margin-right: 10px;
}
.nav-item a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.active > all{
    color: #000;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    border: 2px solid rgba(0,0,0,0);
    transition: .1s all linear;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fce38a;
    border-bottom: 2px solid;
}

.abosolute-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
/*
==================================
HEADER
==================================
*/


header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../img/eaglebg.png) center no-repeat;
    background-size: cover;
}
.x-header-gradient{
    width: 100%;
    height: 100%;
    background: rgba(243,129,129,0.9);
    background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.9)), color-stop(100%, rgba(252,227,138,0.9)));
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -o-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0 );
}
.x-header-content{
    height: 100%;
    position: relative;
    padding: 0;
}
.x-inner-container{
    position: absolute;
    width: 100%;
    top: 20%;
}
.x-header-content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 40px 0 30px;
    text-align: center;
    font-size: 90px;
    line-height: .9;
    color: #fff;
    
}
.x-header-content h2{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 44px;
    text-align: center;
    top: 200px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 40px auto 35px;
}
.x-header-content button{
    background-color: rgba(255,255,255,0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: #fff;
    font-size: 12px;
    border: #fff 2px solid;
    padding: 10px 25px;
}
.x-header-content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.x-header-content ul li{
    width: 25%;
    margin: 10px 10px 0;
}
.x-header-content ul li a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}
.x-header-content ul li a:hover{
    text-decoration: none;
}
.x-header-content ul li a span{
    font-size: 18px;
    margin: 0 5px;
}
.x-bar{
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #fff;
}

.x-header-content button:hover{
    background-color: rgba(255,255,255,.3);
    transition: .2s background-color linear;
}

/*
==================================
SECTION
==================================
*/
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    text-align: center;
    font-size: 24px;
}
.kaushan{
    padding: 90px 0 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 19px;
    font-weight: 100;
}

section{
    width: 100%;
}

p{
    font-size: 14px;
    text-align: center;
    color: #999999;
}

.text-description{
    padding: 0 110px 60px;
}

hr{
    margin-top: 35px;
    margin-bottom: 50px;
    border-top: 2.5px solid #f38181;
    width: 60px;
}

/*
==================================
SECTION about
==================================
*/

.row{margin: 0 15px 70px;}

.item-gradient div{
    width:32px;
    margin: 0 auto 6px;
}
.item-gradient h5{
    font-weight: 700;
    font-size: 15px;
}
.item-gradient div img{
    width: 100%;
    height: auto;
}

.col{
    position: relative;
    padding: 0;
    margin: 10px 1.5%;

}

.item-bg{
    
    background-color: #95e1d3;
}

.item-pic{
    position: relative;
    top: 0px;
    left: 0px;
    transition: .15s all linear;
}

.pic-one{
    background: url(../img/pic1.png) center no-repeat;
    background-size: cover;
}
.pic-two{
    background: url(../img/pic2.png) center no-repeat;
    background-size: cover;
}
.pic-three{
    background: url(../img/pic3.png) center no-repeat;
    background-size: cover;
}

.item-gradient{
    width: 100%;
    position: relative;
    height: 100%;
    padding: 90px 0;
    opacity: 0;
    visibility: hidden;
    top: 0px;
    left: 0px;
    background: rgba(243,129,129,0.9);
    background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.9)), color-stop(100%, rgba(252,227,138,0.9)));
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -o-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0 );
transition: .15s all linear;
}

.item-pic:hover .item-gradient{
    opacity: 1;
}

.item-bg:hover .item-pic .item-gradient{
    opacity: 1;
    visibility: visible;
}

.item-bg:hover .item-pic{
    top: -8px;
    left: -8px;
}

.item-pic:hover{
    top: -8px;
    left: -8px;
}

/*
==================================
SECTION jobs
==================================
*/

.jobs{
    background-color: #95e1d3;
}

.jobs .container, .logos .container{
    display: flex;
    flex-direction: row;
}

.jobs-item{
    width: 20%;
    padding: 60px 20px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 54px;
    color: #fff;
    text-align: center;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.service-list{
    width: 100%;
    display: flex;   
    flex-direction: column;
    margin-bottom: 50px;
}
.services-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.service-list hr{
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.sevice-item{
    padding: 20px;
    width: 33%;
    display: flex;
    flex-direction: row;
}

.sevice-item span{
    width: 32px;
    height: 32px;
    margin: 10px 20px 0 0;
}
/*
==================================
SECTION design
==================================
*/

.design{
    background: url(../img/design-bg.png) center no-repeat;
    background-size: cover;
}

.white-glass{
    position: absolute;
    width: 100% !important;
    height: 100%;
    background: rgba(255,255,255,0.85);
    z-index: 0;
}

.index{
    z-index: 1;
    position: relative;
}

.design div{
    width: 350px;
    margin: 0 auto;
}

.design div img{
    width: 100%;
    height: auto;
}

.design .container{
    position: relative;
}

.design .container img{
    position: absolute;
    width: 202px;
    height: auto;
    top: -286px;
    right: -100px;
    z-index: 2;
}

/*
==================================
SECTION works
==================================
*/

.works{
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.work-picture{
    width: 50%;
    padding: 0 50px 0 30px;
    height: 330px;
    
}
.work-picture img{
    height: 100%;
}
.work-list{
    height: 330px;
    margin-left: 20px;
    width: 50%;
}
.card{
    border-radius: 0;
    margin: 0 0 10px 0;
}
.card-header{
    background-color: #fff;
    border-radius: 0;
}

.card-body{
    overflow-y: auto;
    height: 93px;
    color: #999999;
    font-size: 14px;
}
.btn-link{
    width: 100%;
    color: #000;
    text-align: left;
    font-weight: 500;
}
.btn-link:visited{
    text-decoration: none;
}
.btn-link:hover{
    color: #000;
    text-decoration: underline;
}

button img{
    margin-right: 20px;
}
/*
==================================
SECTION comments
==================================
*/


.comments{
    background-color: #f8f8f8;
    padding: 50px 0;
}

.comments-container{
    display: flex;
    flex-direction: row;
    padding: 0 130px;
    height: 143.5px;
}

.comments-container img{
    width: 115px;
    height: 115px;
    padding: 25px;
    border: 2px solid #95e1d3;
}

.comments-content{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.comments-content p{
    font-size: 18px;
}

.comments-content-row{
    display: flex;
    flex-direction: row;
}

.comments-content-row hr{
    margin: 9.75px 10px 0 0;
    border: 0;
    height: 3px;
    width: 40px;
    background-color: #f38181;
}

.comments-content-row h3{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23cfcfcf' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23cfcfcf' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}



/*
==================================
SECTION team
==================================
*/


.item-gradient ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin: 72.5px auto;
    padding-inline-start: 0;
}

.item-gradient ul li{
    background-color: #FCE38A;
    margin-left: 1px;
    transition: background-color .1s linear;

}

.item-gradient ul li:hover{
    background-color: #F38181;
    margin-left: 0px;
    padding-left: 1px;
}

.item-gradient ul li:hover a img{
    filter: contrast(0%);
    filter: brightness(200%);
}


.item-gradient ul li a img{
    padding: 12px;
    transition: all .1s linear;
}

.pic-five{
    background: url(../img/pic-5.png) center no-repeat;
    background-size: cover;
}

.pic-six{
    background: url(../img/pic-6.png) center no-repeat;
    background-size: cover;
}

.pic-seven{
    background: url(../img/pic-7.png) center no-repeat;
    background-size: cover;
}

.item-gradient span{
    display: block;
    width: 204px;
    margin: 0 auto;
}

.team .container .row .col h5{
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.team .container .row .col h6{
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #999;
}


/*
==================================
SECTION logos
==================================
*/



.logos{
    background-color: #f8f8f8;
    padding: 50px 0;
}

.logos .jobs-item{
    width: 20%;
    padding: 0;
    opacity: 0.8;
}

.jobs-item div{
    width: 90px;
    margin: 0 auto;
}

.jobs-item div img{
    width: 100%;
}

/*
==================================
SECTION portfolio
==================================
*/

.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-item{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.portfolio-img img{
    width: 100%;
    height: auto;
    
}

.portfolio-img{
    position: relative;
}
.profile-pic{
    border: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: auto !important;
}

.portfolio-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: .1s all linear;
    flex-direction: row;
    align-items: center;
    user-select: none;
    z-index: 30;
    top: 0;
    left: 0;
    background: rgba(243,129,129,0.9);
    background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,129,129,0.9)), color-stop(100%, rgba(252,227,138,0.9)));
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -o-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a', GradientType=0 );
}

.portfolio-gradient:hover{
    cursor: pointer;
    opacity: 1;
}

.portfolio-vtnc{
    height: 97px;
    margin: 0 auto;
}


.img-canvas{
    width: 32px;
    margin: 0 auto 10px;

}

.img-canvas img{
    width: 100%;
    height: auto;
    padding: 3px;
    filter: contrast(0%);
    filter: brightness(200%);
}


.portfolio-gradient div h5{
    top: 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.portfolio-gradient div h6{
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
}


/*
==================================
SECTION feedback
==================================
*/

.feedback{
    background: url(../img/feedback-bg.png) center no-repeat;
    background-size: cover;
}

.feedback-outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-bottom: 50px;
}

.people{
    flex: 1 50%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.people img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.people-content h5{
    text-align: left;
    color: #000;
    font-weight: 600;
}

.people-content h6{
    text-align: left;
    color: #000;
    font-weight: 100;
}

.people-content hr{
    margin: 10px 0;
}


/*
==================================
SECTION blog
==================================
*/


.blog-item{
    flex: 1 1 24%;
    margin: 15px 1.5%;
}

.blog-pic{
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.blog-pic img{
    width: 100%;
    height: auto;
}

.date{
    position: absolute;
    background-color: #95e1d3;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    bottom: 10px;
    left: -10px;
}

.day{
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 24px;
} 

.month{
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}

.blog-item a:hover{
    text-decoration: none;
}

.blog-item a:hover h7{
    text-decoration: underline;
}

.blog-item a:hover p{
    text-decoration: underline;
}

.blog-item a p{
    font-size: .75em;
    margin: 0;
}

.blog-item a h7{
    font-weight: 500;
    font-size: .8em;
    margin: 5px 0;
    line-height: 2em;
    color: #000;
}

.blog-item a hr{
    width: 100%;
    margin: 16px 0;
    border-top: 1px solid #e5e5e5;
}

.blog-item-statistics{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-item-statistics img{
    height: 14px;
    width: auto;
}

.blog-item-stats{
    font-size: 14px;
    line-height: 14px;
    font-weight: 100;
    margin-right: 10px;
    color: #95e1d3;
    margin-left: 5px;
    text-decoration: none !important;
}


/*
==================================
SECTION map
==================================
*/


#mapa{
    height: 250px;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.map-sec{
    user-select: none;
}

#open-map:hover{
    cursor: pointer;
}


.map-sec .white-glass{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 200;
    top: 0;
    left: 0;
}

.pinico{
    width: 20px;
    margin: 0 auto;
}

.pinico img{
    width: 100%;
    height: auto;
}

.map-items hr{
    border-top: 2.5px solid #f38181;
    margin: 0 auto;
}

.map-items h3{
    color: #f38181;
    font-size: 1.3em;
    margin: 18px;
}

.map-items{
    margin: 0 auto;
}

/*
==================================
SECTION end-page
==================================
*/

.end-page{
    display: flex;
    flex-direction: row;
    background-color: rgba(250,250,250,1);
}

.end-page-brief{
    margin: 60px 10px;
    width: 40%;
}
.end-page-social{
    margin: 60px 10px;
    height: 405px;
    width: 30%;
}

.ul-socialmedia{
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    user-select: none;
    
}

.row span{
    font-size: 1em;
    font-style: italic;
    margin-right: 10px;
}

.socialmedialink{
    margin: 0 4px;
}

.socialmedialink a img{
    height: 1.2em;
    width: auto;
}

.socialmedialink a:hover img{
    filter: saturate(0);
}

.end-page-brief hr{
    width: 100%;
    margin: 20px auto;
    border-top: solid 1px lightgrey;
}

.end-page-brief h2{
    color: rgba(190,190,190,1);
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 20px;
}

.end-page container row{
    flex-direction: row;
}

.followers{
    margin: 40px 0 0;
    font-size: .9em;
    color: #000;
}

.followers strong{
    font-size: 1.1em;
}

.followus{
    margin: 0;
    font-size: .9em;
    color: rgba(190,190,190,1);
}
.brief-text{
    font-size: .85em;
    color: rgba(190,190,190,1);
}

.end-page-brief form{
    margin-top: 30px;
}

.end-page-brief form input{
    height: 2.5em;
    background-color: #fff;
    border: 1px solid rgba(200,200,200,1);
    border-right: none;
    text-indent: 10px;
    margin: 0;
    width: 50%;
}

.end-page-brief form button{
    height: 2.5em;
    margin: 0;
    border: none;
    background-color: #95e1d3;
    color: #fff;
    width: 30%;
    font-size: 1em;
}

.end-page-brief form button:hover{
    filter: brightness(105%);
}

.end-page-brief form input::placeholder{
    color: rgba(190,190,190,1);
}



.end-page-social h3{
    text-align: left;
    font-size: 1em;
    font-weight: 600;
}

.last-blogs{
    width: 100%;
    background-color: #000;
}



/*
==================================
FOOTER
==================================
*/

footer{
    text-align: center;
    font-size: .7em;
    padding: 20px 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-top: 1px solid rgba(229,229,229,0.6);
}

footer a{
    color: #f4a4a4;
}

footer a:hover{
    color: #c88b8b;
    text-decoration: none;
}

/*
==================================
MEDIA QUERYS
==================================
*/

@media only screen and (max-width: 992px) {
    .end-page-social, .end-page-brief{
        margin: 30px 0;
    }
    .end-page container row{
        flex-direction: row;
    }
    .end-page-instagram, .end-page-blog, .end-page-brief{
        width: 100%;
    }
    .end-page{
        flex-direction: column;
    }   
    footer{
        font-size: .5em;
    }
    .comments-content{
        padding: 0 10px;
    }
    .comments-container{
        padding: 0;
    }
    .comments-content-row h3{
        font-size: 4vw;
    }
    .comments-content p{
        font-size: 3vw;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 5%;
    }
    .x-header-content h1{
        font-size: 6.5vh;
    }
    
    .x-header-content h2{
        font-size: 4.5vh;
    }
    .pictures{
        margin: 50px 0;
    }
    .pic-item{
        margin: 0 5px;
    }
    .text-description{
        padding: 0 10px 30px;
    }
    .kaushan{
        padding: 60px 0 15px;
    }
    .jobs-item{
        padding: 30px 0;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: .5em;
    }
    .design .container img{
        width: 150px;
        top: -200px;
        right: 0;
    }
    .services-row{
        flex-direction: column;
    }
    .sevice-item{
        padding: 10px 0 ;
        width: 100%;
    }
    .service-list hr{
        display: none;
    }
    .works{
        flex-direction: column;
    }
    .work-picture{
        padding: 0;
        height: auto;
        width: 100%;
    }
    .work-picture img{
        width: 100%;
        height: auto;
    }
    .work-list{
        margin: 20px 0 0;
        width: 100%;
    }
    .design div img{
        width: 60%;
        margin-left: 40px;
    }
    .row{
        flex-direction: column;
    }
    .jobs-item div{
        width: 100%;
        padding: 0 5px;
    }
    .portfolio-item{
        flex: 1 50%;
    }
    .portfolio-img{
        height: auto;
    }    
    #portfolio-5{
        height: 300px;
    }
    .people{
        flex: 1;
        padding: 10px;
    }
    .feedback-outer{
        padding: 0;
        padding-bottom: 50px;
    }
    .people-content h5{
        font-size: .8em;
    }
    .people-content h6{
        font-size: .7em;
    }
    .img-canvas{
        width: 24px;
    }
    .portfolio-gradient div h5, .portfolio-gradient div h6{
        font-size: .7em;
    }
}




@media only screen and (min-height: 1080px) {
    header{
        height: 1080px;
    }
}
